.img {
    width: 270px;
    height: 100%;
}

.imgWrap {
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
}

.descrWrap {
    display: inline-block;
    margin-left: 50px;
    padding-right: 100px;
}

.btn {
    padding-left: 25px;
    color: #272727;
    font-size: 16px;
    border: none;
    background-color: #fff;
    border-radius: 7px;
    margin-left: 5px;
}

.btn:hover {
    color: #7400bc;
    cursor: pointer;
}

.btn::before {
    content: "";
    background-image: url(../SVG/arrow-left.svg);
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
    top: 122px;
}

.btnList {
    list-style: none;
    display: flex;
    margin-left: 76px;
}

.castBtn {
    padding: 9px;
    background-color: #7400bc;
    font-size: 16px;
    border: none;
    width: 110px;
    color: #fff;
    border-radius: 7px;
}

.castBtn::before {
    content: "";
    background-image: url(../SVG/user.svg);
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 125px;
}

.castBtn:hover {
    background-color: rgb(255, 141, 2);
    cursor: pointer;
}

.reviewsBtn {
    position: relative;
    padding: 9px 9px 9px 25px;
    background-color: #7400bc;
    font-size: 16px;
    width: 110px;
    border: none;
    color: #fff;
    border-radius: 7px;
    margin-left: 15px;
}

.reviewsBtn::before {
    content: '';
    background-image: url(../SVG/book-alt2.svg);
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
    top: 10px;
}

.reviewsBtn:hover {
    background-color: rgb(255, 141, 2);
    cursor: pointer;
}

.descrTitle {
    font-size: 20px;
    font-weight: 600;
}

.loading {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #7400bc29;
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
}