.movieItem::before {
    content: "";
    background-image: url(../SVG/film.svg);
    background-size: cover;
    position: absolute;
    width: 25px;
    height: 25px;
    left: -20px;
}

.movieItem:hover,
.movieItem:focus {
    color: #7400bc;
    cursor: pointer;
}

.loading {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #7400bc29;
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
}